---
import { ModeToggle } from "../ModeToggle";
---

<header
  transition:persist
  class="w-full backdrop-blur-md flex flex-row justify-items-center items-center gap-2 px-2 py-4 sm:justify-between sm:mx-auto lg:sticky lg:top-0 lg:px-0"
>
  <div
    class="max-w-4xl w-full mx-auto flex flex-row justify-center items-center gap-2 sm:justify-between"
  >
    <section class="hidden sm:block">
      <a
        href="/"
        class="text-2xl font-bold text-neutral-800 dark:text-neutral-200"
      >
        Vaddi Calculator
      </a>
    </section>
    <section>
      <ModeToggle client:load />
    </section>
  </div>
</header>
